.contact-header {
    display: flex;
    align-items: center;
    background-color: #075e54;
    color: white;
    padding: 15px;
    width: 100%;
    justify-content: space-between; 
    height: 40px;
}

.contact-header .iconos {
    display: flex;
    align-items: center;
}

.contact-header .logo{
    font-weight: bold;
    font-size: 18px;
}