*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.padre1{
    width: 600px;
    height: 600px;
    background-image: url("../images/agua.jpg");
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: inset 1px 1px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hijo {
    background-image: url("../images/salvavidas.png");
    width: 100px;
    height: 100px;
}
.padre2{
    width: 600px;
    height: 600px;
    background-image: url("../images/agua.jpg");
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: inset 1px 1px 10px black;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 90px;

}
.padre3{
    width: 600px;
    height: 600px;
    background-image: url("../images/agua.jpg");
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: inset 1px 1px 10px black;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 70px;
}
.padre4{
    width: 600px;
    height: 600px;
    background-image: url("../images/agua.jpg");
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: inset 1px 1px 10px black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: end;
    gap: 70px;
    padding-bottom: 10px;
}