* {
  margin: 0;
  padding: 0;

}
.chanels-screens {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #4a154b;
}

.chanels-screens .chanels-main {
  display: flex;
  
}