*{
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-color: #252526;
    display: inline-block;
    padding: 10px;
    color: #ccc;
    font-size: 14px;
    line-height: 18px;
}
ul { 
    list-style-image: url("../images/list.png");
}

.clases{
    list-style-image: url("../images/flechabajo.png");

}
a{
    text-decoration: none;
    color: #ccc;
}

.imagenes{
    list-style-image: url("../images/img.png");
}

.cerrado{
    list-style-image: url("../images/flechader.png");
}

.css{
    list-style-image: url("../images/css.png");
}
.git{
    list-style-image: url("../images/git.png");
}
.text{
    list-style-image: url("../images/text.png");
}