*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 255, 106);
}
.caja {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    border: 3px solid red;
    color: white;
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 50px;
    /* x | y | blur | base | color */
    box-shadow: 0px 0px 10px 0px white,
                10px 10px 10px 0px black;
}

ul{
    padding-left: 20px;
}

li{
    list-style-type: none;
}
h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 1px black;
}